.about-info {
    .about-img {
        margin-top: 4vh;
        width: 20vw;
    }
    .info {
        text-indent: 20px;
        text-align: justify;
        margin: 10px 0px 0px 25px;
    }
    .main-info {
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 5%;
    }
}

.about-us.pagetitle {
    margin-bottom: 0px;
}

.partners {
    margin-top: 30px;
    .partners-title {
        font-size: 1.6rem;
        color: #616161;
        font-weight: 900;
        line-height: 33px;
        text-transform: uppercase;
        text-align: center;
    }
    .partners-images {
        padding: 0;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
        a {
            margin: 0 1.2rem;
            padding: 0;
            height: auto;
            border-radius: 0;
            display: inline-block;
            -webkit-box-shadow: none;
            box-shadow: none;
            img {
                display: block;
                height: 20px;
                margin: 5px auto;
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                /* Firefox 3.5+ */
                filter: gray;
                /* IE6-9 */
                -webkit-filter: grayscale(100%);
                /* Chrome 19+ & Safari 6+ */
            }
            img:hover {
                filter: none;
                -webkit-filter: grayscale(0%);
            }
        }
    }
}
