.about-info {
    .about-img {
        margin-top: 4vh;
        width: 20vw;
    }
    .info {
        text-indent: 50px;
        margin: 10px 0px 0px 25px;
    }
    .main-info {
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 5%;
    }
}

.about-us.pagetitle {
    margin-bottom: 0px;
}
