.footer {
    color: #777;
    border-top: 1px solid #e5e5e5;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.contacts-nav {
    background-color: black;
    height: 40px;
    color: #cccccc;
    font-size: 1.1em;
    padding: 0 20px;
    > div.contacts {
        float: right;
    }
    .location {
        float: right;
    }
    .phone {
        float: left;
    }
    img {
        height: 30px;
        width: auto;
        margin: 5px 10px;
    }
    a,
    a:hover,
    a:focus,
    a:visited,
    a:active {
        color: #cccccc;
        text-decoration: none;
    }
}

.footer-images img {
    width: auto;
    height: 13px;
    margin: 5px;
    margin-top: 12px;
}

#fagor-footer {
    height: 15px;
}

.footer-images span {
    vertical-align: sub;
}

#footer-text {
    font-size: 1.1em;
    text-align: center;
}
