$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "navigation.scss";
@import "slider-menu.scss";
@import "footer.scss";
@import "about.scss";
@import "contacts.scss";
@import "products.scss";
@import "services.scss";
html {
    height: 100%;
}

body {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    min-height: 100% !important;
    height: 100%;
    background-color: #f6f6f6;
    a:hover,
    a:focus {
        text-decoration: none;
    }
}

.navbar-header {
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    img {
        &#arrow {
            position: absolute;
            left: 0px;
            top: 0px;
            -moz-transition: all 0.8s;
            -ms-transition: all 0.8s;
            -o-transition: all 0.8s;
            -webkit-transition: all 0.8s;
        }
    }
}

.navbar-header:hover #arrow {
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}


/* Custom page header */

div.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0px;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

.pagetitle {
    color: #1d4e32;
    font-size: 40px;
    line-height: 40px;
    margin-top: 3rem;
    margin-bottom: 30px;
    font-weight: 700;
}

.content {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 67.5vh;
    font-size: 1.2em;
    .mCustomScrollBox {
        padding-bottom: 3vh;
    }
    .container {
        width: 60vw;
    }
}
