.firms {
    float: left;
}

.firms-container {
    margin-top: 10px;
}

.firms:last-child {
    width: 100%;
    margin-top: -15px;
    .firm-group {
        margin-bottom: 0px;
    }
}

.firm-group {
    width: 200px;
    margin: 0 20px 20px 0;
    img {
        width: 100%;
    }
}

.product-title {
    font-weight: 700;
    text-align: center;
    margin: 10px 0 5px 0;
}

.product-sub {
    text-align: center;
    width: 90%;
    margin: 0px 5%;
    font-size: 12px;
}

.bg-cnc {
    width: 70%;
    margin-top: 25px;
    .product-title,
    .product-sub {
        text-align: left;
    }
}
