.firms {
    float: left;
}

.firms-container {
    margin-top: 15px;
}

.firms {
    width: 60vw;
    margin-top: 15px;
    .firm-group:last-child {
        margin-bottom: 0px;
    }
}

.firm-group {
    width: 11vw;
    margin: 1vh 1vw 1vh 0;
    .col-md-12 {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
        img {
            width: 12rem;
        }
    }
}

.product-title {
    font-weight: 700;
    font-size: 16px;
}

.product-sub {
    font-size: 14px;
}

.bg-cnc {
    width: 100%;
}

.fotorama {
    margin-top: 30px;
}
