.firms {
    float: left;
}

.firms-container {
    margin-top: 30px;
}

.firms {
    width: 60vw;
    margin-top: -15px;
    .firm-group:last-child {
        margin-bottom: 0px;
    }
}

.firm-group {
    height: 20vh;
    width: 11vw;
    margin: 1vh 1vw 1vh 0;
    img {
        width: 100%;
    }
}

.product-title {
    font-weight: 700;
    text-align: center;
    margin: 10px 0 5px 0;
}

.product-sub {
    text-align: center;
    width: 90%;
    margin: 0px 5%;
    font-size: 0.8em;
}

.bg-cnc {
    width: 69%;
    margin-left: 5vw;
    height: auto !important;
    .product-title,
    .product-sub {
        text-align: left;
    }
}
