@media all and (max-device-height: 1050px) {
    .content {
        height: 67vh;
    }
}

@media all and (max-device-height: 1024px) {
    .content,
    .content .container {
        height: 66vh;
    }
    .firm-group {
        min-height: 30vh;
    }
}

@media all and (max-device-height: 900px) {
    .content {
        height: 64.5vh;
    }
    .firm-group {
        min-height: 25vh;
    }
}

@media all and (max-device-height: 800px) {
    .content {
        height: 61.5vh;
    }
    .firm-group {
        min-height: 40vh;
    }
}

@media all and (max-device-height: 768px) {
    .content {
        height: 65vh;
    }
    .firm-group {
        min-height: 30vh;
    }
    ul.marni-navigation {
        height: 5vh;
        line-height: 1vh;
        margin-top: -1.6vh;
    }
    div.navbar-header > a > img {
        height: 5vh;
    }
    .navbar-default {
        height: 8vh;
    }
    .marni-navigation a,
    .marni-navigation a.active {
        font-size: 1em;
    }
    .dr-menu > div .dr-label,
    .dr-menu ul li a {
        font-size: 0.6em;
    }
    img.flag {
        width: 15px;
        height: 10px;
    }
    .dr-menu > div {
        top: -3px;
    }
    .dr-menu > div .dr-icon {
        left: -8%;
        top: 19px;
    }
    .dr-menu.dr-menu-open > div .dr-icon {
        left: 52%;
        &.en {
            -webkit-transform: translate(-590%, -208%);
            -moz-transform: translate(-590%, -208%);
            -ms-transform: translate(-590%, -208%);
            transform: translate(-590%, -208%);
        }
        &.bg {
            -webkit-transform: translate(-450%, -208%);
            -moz-transform: translate(-450%, -208%);
            -ms-transform: translate(-450%, -208%);
            transform: translate(-450%, -208%);
        }
    }
    .dr-menu ul {
        margin: -0.4em 3em 0 0;
    }
    .marni-navigation a,
    .marni-navigation a.active {
        margin: 15px 10px;
    }
}

@media all and (max-device-height: 720px) {
    .content {
        height: 50.5vh;
    }
}

@media all and (max-device-height: 600px) {
    .content {
        height: 57.5vh;
    }
}

@media all and (max-device-width: 1680px) {
    .content .container,
    .firms {
        width: 73vw;
    }
    .firms .firm-group:last-child {
        margin-top: 0px;
    }
}

@media (max-device-width: 1280px) {
    .footer-images img {
        height: 10px;
    }
}

@media all and (max-device-width: 800px) {
    .content .container,
    .firms,
    .firm-group {
        width: 100%;
        height: auto;
    }
}
