.dr-menu {
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    position: relative;
    font-size: 1.3em;
    line-height: 2.5;
    font-weight: 400;
    color: #fff;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.dr-menu > div {
    cursor: pointer;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 7px;
}

.dr-menu > div .dr-icon {
    left: -10%;
    top: 17px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
}

.dr-menu.dr-menu-open > div .dr-icon {
    color: #000;
    left: 65%;
    &.en {
        -webkit-transform: translate(-590%, -169%);
        -moz-transform: translate(-590%, -169%);
        -ms-transform: translate(-590%, -169%);
        transform: translate(-590%, -169%);
    }
    &.bg {
        -webkit-transform: translate(-450%, -169%);
        -moz-transform: translate(-450%, -169%);
        -ms-transform: translate(-450%, -169%);
        transform: translate(-450%, -169%);
    }
}

.dr-menu > div .dr-icon:after {
    content: "\e008";
    position: absolute;
    font-size: 50%;
    line-height: 3.25;
    left: -10%;
    opacity: 0;
}

.dr-menu.dr-menu-open > div .dr-icon:after {
    opacity: 1;
}

.dr-menu > div .dr-label {
    position: relative;
    display: inline-block;
    color: #000;
    font-size: 0.75em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    &:hover {
        color: white;
    }
}

.dr-menu.dr-menu-open > div .dr-label {
    -webkit-transform: translateY(-160%);
    -moz-transform: translateY(-160%);
    -ms-transform: translateY(-160%);
    transform: translateY(-160%);
}

.dr-menu ul {
    padding: 0;
    margin: 0 3em 0 0;
    list-style: none;
    opacity: 0;
    position: relative;
    z-index: 0;
    pointer-events: none;
    -webkit-transition: opacity 0s linear 205ms;
    -moz-transition: opacity 0s linear 205ms;
    transition: opacity 0s linear 205ms;
}

.dr-menu.dr-menu-open ul {
    opacity: 1;
    z-index: 200;
    pointer-events: auto;
    -webkit-transition: opacity 0s linear 0s;
    -moz-transition: opacity 0s linear 0s;
    transition: opacity 0s linear 0s;
}

.dr-menu ul li {
    display: block;
    margin: 5px 0 5px 0;
    opacity: 0;
    line-height: 10px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

img.flag {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.dr-menu.dr-menu-open ul li {
    opacity: 1;
}

.dr-menu.dr-menu-open ul li:nth-child(2) {
    -webkit-transition-delay: 35ms;
    -moz-transition-delay: 35ms;
    transition-delay: 35ms;
}

.dr-menu.dr-menu-open ul li:nth-child(3) {
    -webkit-transition-delay: 70ms;
    -moz-transition-delay: 70ms;
    transition-delay: 70ms;
}

.dr-menu.dr-menu-open ul li:nth-child(4) {
    -webkit-transition-delay: 105ms;
    -moz-transition-delay: 105ms;
    transition-delay: 105ms;
}

.dr-menu.dr-menu-open ul li:nth-child(5) {
    -webkit-transition-delay: 140ms;
    -moz-transition-delay: 140ms;
    transition-delay: 140ms;
}

.dr-menu.dr-menu-open ul li:nth-child(6) {
    -webkit-transition-delay: 175ms;
    -moz-transition-delay: 175ms;
    transition-delay: 175ms;
}

.dr-menu.dr-menu-open ul li:nth-child(7) {
    -webkit-transition-delay: 205ms;
    -moz-transition-delay: 205ms;
    transition-delay: 205ms;
}

.dr-menu ul li a {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    font-size: 0.75em;
}

.dr-menu ul li a:hover {
    color: #000;
    text-decoration: none;
}

.dr-menu ul .dr-icon:before {
    margin-right: 15px;
}
