<div class="side">
    <nav class="dr-menu">
        <div class="dr-trigger"><span class="dr-icon dr-icon-menu {{ language.code }}"></span><a class="dr-label">{{ language.text }}</a></div>
        <ul>
            <li>
                <a ng-click="updateLanguage({code: 'en'})"><img src="../images/en.png" />English</a>
            </li>
            <li>
                <a ng-click="updateLanguage({code: 'bg'})"><img src="../images/bg.png" />Български</a>
            </li>
        </ul>
    </nav>
</div>
