<div class="row">
    <div class="col-md-12 pagetitle about-us">{{ 'ABOUT' | translate }}</div>
</div>
<div class="row about-info">
    <div class="col-md-4"><img class="about-img" src="images/platki.jpg" /></div>
    <div class="col-md-8" ng-nicescroll="about-scroll" nice-option="{cursorcolor: '#9d9d9d', cursorborder:'#dadada',  horizrailenabled:false}">
        <div class="row">
            <div class="col-md-12 info main-info">{{ 'ABOUT_HISTORY' | translate }}</div>
        </div>
        <div class="row">
            <div class="col-md-12 info">
                {{ 'ABOUT_INFO' | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 info">{{ 'ABOUT_TEAM_1' | translate }}</div>
        </div>
        <div class="row">
            <div class="col-md-12 info">{{ 'ABOUT_TEAM_2' | translate }} <strong>{{ 'MASHSTROY' | translate }}</strong></div>
        </div>
        <div class="row">
            <div class="col-md-12 info">{{ 'ABOUT_TEAM_2' | translate }} <strong>{{ 'MASHSTROY' | translate }}</strong></div>
        </div>
        <div class="row">
            <div class="col-md-12 info">{{ 'ABOUT_TEAM_2' | translate }} <strong>{{ 'MASHSTROY' | translate }}</strong></div>
        </div>
        <div class="row">
            <div class="col-md-12 info"><strong>{{ 'MARNI' | translate }}</strong> {{ 'ABOUT_TEAM_3' | translate }}</div>
        </div>
    </div>
</div>
<div class="partners">
    <div class="partners-title"> {{ 'PARTNERS' | translate }}:</div>
    <div class="partners-images">
        <a href="http://www.ge.com/" target="_blank">
            <img src="./images/footer/general_electric.png" class="transition" />
        </a>
        <a href="http://www.bosch.com/" target="_blank">
            <img src="./images/footer/bosch.png" class="transition" />
        </a>
        <a href="http://www.siemens.com/" target="_blank">
            <img src="./images/footer/siemens.png" class="transition" />
        </a>
        <a href="http://www.schneider-electric.com/" target="_blank">
            <img src="./images/footer/schneider.png" class="transition" />
        </a>
        <a href="http://www.lenze.com/" target="_blank">
            <img src="./images/footer/lenze.png" class="transition" />
        </a>
        <a href="http://www.omron.com/" target="_blank">
            <img src="./images/footer/omron.png" class="transition" />
        </a>
        <a href="http://comingsoon.fagor.com/" target="_blank">
            <img src="./images/footer/fagor_black.png" class="transition" id="fagor-footer" />
        </a>
        <a href="http://www.fanuc.eu/" target="_blank">
            <img src="./images/footer/fanuc.png" class="transition" />
        </a>
        <a href="http://www.grundig.com/" target="_blank">
            <img src="./images/footer/grundig.png" class="transition" />
        </a>
        <a href="http://www.heidenhain.com/" target="_blank">
            <img src="./images/footer/heidenhain.png" class="transition" />
        </a>
    </div>
</div>
