<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">{{ 'ABOUT_HISTORY' | translate }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ 'ABOUT_TEAM' | translate }}</div>
        </div>
        <div class="row firms">
            <div class="row">
                <div class="col-md-1">Fanuc:</div>
                <div class="col-md-11">{{ 'ABOUT_FANUC' | translate }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Siemens:</div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">{{ 'ABOUT_SIEMENS_1' | translate }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ 'ABOUT_SIEMENS_2' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">Heidenhain:</div>
                <div class="col-md-11">{{ 'ABOUT_HEIDENHAIN' | translate }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Fagor:</div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">{{ 'ABOUT_FAGOR_1' | translate }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ 'ABOUT_FAGOR_1' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">Bosh:</div>
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">{{ 'ABOUT_BOSH_1' | translate }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">{{ 'ABOUT_BOSH_1' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">Indramat:</div>
                <div class="col-md-11">{{ 'ABOUT_INDRAMAT' | translate }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Grundig:</div>
                <div class="col-md-11">{{ 'ABOUT_GRUNDIG' | translate }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Lenze:</div>
                <div class="col-md-11">{{ 'ABOUT_LENZE' | translate }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Scheider Electric:</div>
                <div class="col-md-11">{{ 'ABOUT_SCHEIDER_ELECTRIC' | translate }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">Omron:</div>
                <div class="col-md-11">{{ 'ABOUT_OMRON' | translate }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">General Electric:</div>
                <div class="col-md-11">{{ 'ABOUT_GENERAL_ELECTRIC' | translate }}</div>
            </div>
            <div class="row">
                <div class="col-md-1">{{ 'ABOUT_CNC_BG_TITLE' | translate }}:</div>
                <div class="col-md-11">{{ 'ABOUT_CNC_BG' | translate }}</div>
            </div>
        </div>
    </div>
</div>
