<div class="row">
    <div class="col-md-12 pagetitle about-us">{{ 'ABOUT' | translate }}</div>
</div>
<div class="row about-info">
    <div class="col-md-4"><img class="about-img" src="images/scheme.png" /></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12 info main-info">{{ 'ABOUT_HISTORY' | translate }}</div>
        </div>
        <div class="row">
            <div class="col-md-12 info">
                {{ 'ABOUT_INFO' | translate }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 info">{{ 'ABOUT_TEAM_1' | translate }}</div>
        </div>
        <div class="row">
            <div class="col-md-12 info">{{ 'ABOUT_TEAM_2' | translate }} <strong>{{ 'MASHSTROY' | translate }}</strong></div>
        </div>
        <div class="row">
            <div class="col-md-12 info"><strong>{{ 'MARNI' | translate }}</strong> {{ 'ABOUT_TEAM_3' | translate }}</div>
        </div>
    </div>
</div>
