<div class="row contacts-container">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12 pagetitle">{{ 'CONTACTS_INFO_1' | translate }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <iframe id="google-map" src="https://goo.gl/n4xcXS" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-3 contact-info">
        <div class="row">
            <div class="col-md-12">
                <div class="row contact-title">
                    <div class="col-md-12">EMAIL</div>
                </div>
                <div class="row contact-value">
                    <div class="col-md-12">marni@dir.bg
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 contact-title">{{ 'CONTACTS_PHONE_TITLE' | translate }}</div>
                </div>
                <div class="row phone-values">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 contact-title">{{ 'CONTACTS_PHONE_STATIOARY' | translate }}</div>
                            <div class="col-md-9 contact-value">+359 670 64640</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 contact-title">Mtel</div>
                            <div class="col-md-9 contact-value">+359 889 722 624</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 contact-value">+359 888 571 165</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 contact-title">Vivacom</div>
                            <div class="col-md-9 contact-value">+359 878 494 617</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row contact-title">
                    <div class="col-md-12">{{ 'CONTACTS_ADDRESS_TITLE' | translate }}</div>
                </div>
                <div class="row contact-value">
                    <div class="col-md-12">5600 {{ 'CONTACTS_ADDRESS' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="row find-us">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <a href="https://www.facebook.com/Marni-130604033678421/" target="_blank"><img src="./images/facebook.png" /></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <iframe id="fb-like" src="https://goo.gl/H5wGVB" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
