<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">{{ 'CONTACTS_INFO_1' | translate }}</div>
        </div>
        <div class="row">
            <div class="col-md-12">{{ 'CONTACTS_INFO_2' | translate }}</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row contact-title">
                    <div class="col-md-12">EMAIL</div>
                </div>
                <div class="row contact-value">
                    <div class="col-md-12">marni@dir.bg</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row contact-title">
                    <div class="col-md-12">{{ 'CONTACTS_PHONE_TITLE' | translate }}</div>
                    <div class="row contact-value">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">0670 64640</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">M-tel</div>
                                <div class="col-md-9">0889 722 624</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9">0888 571 165</div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">Vivacom</div>
                                <div class="col-md-9">0878 494 617</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row contact-title">
                    <div class="col-md-12">{{ 'CONTACTS_ADDRESS_TITLE' | translate }}</div>
                </div>
                <div class="row contact-value">
                    <div class="col-md-12">{{ 'CONTACTS_ADDRESS' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
