<div class="row">
    <div class="col-md-12 pagetitle">{{ 'PARTNERS_TITLE' | translate }}</div>
</div>
<div class="row firms-container">
    <div class="col-md-12">
        <div class="row firms">
            <!-- FANUC block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.fanuc.eu/" target="_blank">
                            <img src="./images/footer/fanuc.png" title="Fanuc"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS_DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_FANUC_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Siemens block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.siemens.com/" target="_blank">
                            <img src="./images/footer/siemens.png" title="Siemens"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS_DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_SIEMENS_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Heidenhain block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.heidenhain.com/" target="_blank">
                            <img src="./images/footer/heidenhain.png" title="Heidenhain"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_HEIDENHAIN_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Fagor block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://comingsoon.fagor.com/" target="_blank">
                            <img src="./images/footer/fagor_black.png" title="Fagor"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS_DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_FAGOR_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Bosh block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.bosch.com/" target="_blank">
                            <img src="./images/footer/bosch.png" title="Bosh"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS_DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_BOSH_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Grundig block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.grundig.com/" target="_blank">
                            <img src="./images/footer/grundig.png" title="Grundig"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_GRUNDIG_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Lenze block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.lenze.com/" target="_blank">
                            <img src="./images/footer/lenze.png" title="Lenze"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CONVERTERS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_LENZE_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Scheider Electric block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.schneider-electric.com/" target="_blank">
                            <img src="./images/footer/schneider.png" title="Scheider Electric"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CONVERTERS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_SCHEIDER_ELECTRIC_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Indramat block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.indramat-us.com/" target="_blank">
                            <img src="./images/footer/indramat.png" title="Indramat"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'DRIVES' | translate }}</div>
                </div>
            </div>
            <!-- General Electric block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.ge.com/" target="_blank">
                            <img src="./images/footer/general_electric.png" title="General Electric"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CONVERTERS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_GENERAL_ELECTRIC_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Omron block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://www.omron.com/" target="_blank">
                            <img src="./images/footer/omron.png" title="Omron"></img>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CONVERTERS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_OMRON_SUB' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row firms">
        <!-- BG block -->
        <div class="col-md-12 bg-cnc firm-group">
            <div class="row">
                <div class="col-md-12 product-title">{{ 'ABOUT_CNC_BG_TITLE' | translate }}:</div>
            </div>
            <div class="row">
                <div class="col-md-12 product-sub">{{ 'ABOUT_CNC_BG' | translate }}</div>
            </div>
        </div>
    </div>
</div>
