<div class="row">
    <div class="col-md-12 pagetitle">{{ 'PRODUCT' | translate }}</div>
</div>
<div class="row">
    <div class="col-md-12 title">  {{ 'PRODUCT_CONTENT' | translate }}</div>
</div>
<div class="row">
    <div class="col-md-12"><img src=""/></div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h2>{{ 'PRODUCT_PURPOSE_TITLE' | translate }}:</h2>
      <p>
        {{ 'PRODUCT_PURPOSE_CONTENT' | translate }}
      </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h2>{{ 'PRODUCT_ACTION_TITLE' | translate }}:</h2>
      <p>
        {{ 'PRODUCT_ACTION_CONTENT_1' | translate }} <b>I</b> {{ 'PRODUCT_ACTION_CONTENT_2' | translate }} <b>t</b> {{ 'PRODUCT_ACTION_CONTENT_3' | translate }}
      </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h2>{{ 'PRODUCT_WORK_TITLE' | translate }}:</h2>
      <p>
        {{ 'PRODUCT_WORK_CONTENT_1' | translate }} <b>t</b>{{ 'PRODUCT_WORK_CONTENT_2' | translate }}
      </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h2>{{ 'PRODUCT_INSTALLATION_TITLE' | translate }}:</h2>
      <p>
        {{ 'PRODUCT_INSTALLATION_CONTENT_1' | translate }} <img src="" />
      </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h2>{{ 'PRODUCT_CONNECTION_TITLE' | translate }}:</h2>
       <img src="" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h2>{{ 'PRODUCT_TECHNICAL_DATA_TITLE' | translate }}:</h2>
      <div class="row">
        <div class="col-md-6">
          <p>
            {{ 'PRODUCT_TECHNICAL_DATA_CONTENT_1' | translate }}<br />
            <img src="" />24V AC/200mA
          </p>
          <p>
            {{ 'PRODUCT_TECHNICAL_DATA_CONTENT_2' | translate }}<br />
            <img src="" />Relay 5A/250V AC
          </p>
          <p>
            {{ 'PRODUCT_TECHNICAL_DATA_CONTENT_3' | translate }}<br />
            f = 45/65Hz
          </p>
          <p>
            {{ 'PRODUCT_TECHNICAL_DATA_CONTENT_4' | translate }} 35x7.5mm
          </p>
      </div>
      <div class="col-md-6">
         <img src="" />
      </div>
    </div>
  </div>
</div>
