<div class="row">
    <div class="col-md-12 pagetitle">{{ 'PRODUCT' | translate }}</div>
</div>
<div class="row firms-container">
    <div class="col-md-12">
        <div class="row firms">
            <!-- FANUC block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/fanuc.png" title="Fanuc"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS_DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_FANUC_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Siemens block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/Siemens.png" title="Siemens"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS_DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_SIEMENS_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Heidenhain block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/heidenhain.png" title="Heidenhain"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_HEIDENHAIN_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Fagor block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/fagor_black.png" title="Fagor"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS_DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_FAGOR_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Bosh block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/bosch.png" title="Bosh"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CNC_SYSTEMS_DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_BOSH_SUB' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="row firms">
            <!-- Grundig block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/grundig.png" title="Grundig"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'DRIVES' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_GRUNDIG_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Lenze block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/lenze.png" title="Lenze"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CONVERTERS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_LENZE_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Scheider Electric block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/schneider.png" title="Scheider Electric"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CONVERTERS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_SCHEIDER_ELECTRIC_SUB' | translate }}</div>
                </div>
            </div>
            <!-- General Electric block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/general_electric.png" title="General Electric"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CONVERTERS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_GENERAL_ELECTRIC_SUB' | translate }}</div>
                </div>
            </div>
            <!-- Omron block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/omron.png" title="Omron"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'CONVERTERS' | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_OMRON_SUB' | translate }}</div>
                </div>
            </div>
        </div>
        <!-- All block -->
        <div class="row firms">
            <!-- Indramat block -->
            <div class="col-md-2 firm-group">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/footer/indramat.png" title="Indramat"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'DRIVES' | translate }}</div>
                </div>
            </div>
            <!-- Indramat block -->
            <div class="col-md-10 bg-cnc">
                <div class="row">
                    <div class="col-md-12 product-title">{{ 'ABOUT_CNC_BG_TITLE' | translate }}:</div>
                </div>
                <div class="row">
                    <div class="col-md-12 product-sub">{{ 'ABOUT_CNC_BG' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
