<div class="row">
    <div class="col-md-12 pagetitle">{{ 'SERVICE' | translate }}</div>
</div>
<div class="row services-container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 services-group">
                <div class="row">
                    <div class="col-md-2 ">
                        <span class="icon-manifacture icon"> </span>
                    </div>
                    <div class="col-md-10 service-content">
                        <div class="row">
                            <div class="col-md-12 label">
                                {{ 'SERVICES_INFO_LABEL_1' | translate }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ 'SERVICES_INFO_1' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 services-group">
                <div class="row">
                    <div class="col-md-2 ">
                        <span class="icon-repair icon"> </span>
                    </div>
                    <div class="col-md-10 service-content">
                        <div class="row">
                            <div class="col-md-12 label">
                                {{ 'SERVICES_INFO_LABEL_2' | translate }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ 'SERVICES_INFO_2' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 services-group">
                <div class="row">
                    <div class="col-md-2 ">
                        <span class="icon-delivery icon"> </span>
                    </div>
                    <div class="col-md-10 service-content">
                        <div class="row">
                            <div class="col-md-12 label">
                                {{ 'SERVICES_INFO_LABEL_3' | translate }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ 'SERVICES_INFO_3' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
