<div class="row">
    <div class="col-md-12 pagetitle">{{ 'SERVICE' | translate }}</div>
</div>
<div class="row services-container">
    <div class="col-md-4 services-group">
        <div class="row">
            <div class="col-md-12 ">
                <div class="icon">
                    <img src="images/manifacture.png" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 service-content">
                {{ 'SERVICES_INFO_2' | translate }}
            </div>
        </div>
    </div>
    <div class="col-md-4 services-group">
        <div class="row">
            <div class="col-md-12 icon">
                <img src="images/repair.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 service-content">
                {{ 'SERVICES_INFO_1' | translate }}
            </div>
        </div>
    </div>
    <div class="col-md-4 services-group">
        <div class="row">
            <div class="col-md-12 icon">
                <img src="images/delivery.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 service-content">
                {{ 'SERVICES_INFO_3' | translate }}
            </div>
        </div>
    </div>
</div>
